
body{background: #eeeeee;}
#main{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    justify-content: center; 
    align-items: center; 
    height: 70vh;
}
#logo{
width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input{
border: none;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
height: 30px;
border-radius: 25px;
border-width: 1px;
border-color: #CCC;
padding-left: 3rem;
padding-top: 0.2rem;
caret-color: #525252;
font-weight: 540;
color: #3d3d3d;
}
input:focus{
outline: none;
}


.buttons{
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: #ffffff;
    border-width: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
    color: #3b3b3b;
}
button:hover{
    transform: scale(1.05);
    transition: all;
    transition: 0.2s;
}
#inputContent{
    position: relative;
    width: 100%;
    margin-right: 3rem;
    }
#searchIcon{
    position: absolute;
    top:1.7rem;
    left: 0.5em;
    color:#0364b9
    }

    @media (max-width: 282px) {
        button{
            margin-left: 0;
            width: 100%;
            padding: 15px 0.5rem !important;
        }
        }

    @media (max-width: 415px) {
    .buttons{flex-direction: column;}
    }
    @media (max-width: 892px) {
        
        /* Ajusta aquí tus estilos para pantallas pequeñas */
        #main{
            width: 70%;
            margin-top: 5rem;
        }

        #logo{
            width: 150px;
                margin-left: auto;
                margin-right: auto;
            }
            #searchIcon{  
                top:3.5rem;
                }
            input{
                margin-top: 3rem;

                }
            .buttons{
                margin-top: 0.7rem;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            button{
                padding: 13px 3rem;
                margin-top: 15px;
                font-size:medium;
            }

    }
@media (max-width: 950px) {
    #logo{margin-top: 5rem;}
}