
body{
background: #eeeeee;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}
#main{
display: flex;
flex-direction: row;
width: 90%;
}
#headerstyles{
display: flex;
height: 5rem;
align-items: center;
padding-top: .5rem;
padding-left: 3rem;
width: 56%;
}

#logo{
width: 120px;
}
.widthInput{
    flex:1;
    margin-left: 2rem;
    }
input{
width: 100%;
border: none;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
height: 34px;
border-radius: 25px;
padding-left: 1.5rem;
caret-color: #525252;
font-weight: 540;
color: #3d3d3d;
}

input:focus{
outline: none;
}

.totalResult{margin-left: 12rem;font-size: 14px;color:rgb(62, 62, 62)}
.result{
max-width: 640px;
margin-left: 12rem;
font-weight: 500;
}
.result h3{
color: #0364b9;
margin-bottom: 4px;
}
.result span{
color:rgb(25, 25, 25)
}


#searchIcon{
position: absolute;
top:2.85rem;
left:41rem;
color:#0364b9
}
#searchIcon {
cursor: pointer;
}
#searchIcon:hover{
cursor: pointer;
transform: scale(1.1);
transition: all;
transition-duration: 0.1s;
}
#items-list{
    list-style: none;
    }
    #pagination{
        margin-top: 3rem;
       
    }
    #pagination button{
        border: none;
        color: #525252;
        background-color: transparent;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        cursor: pointer;
        font-weight: 500;
        font-size: large;
    }
    .page-current {
      color: #0364b9;
    }
    .sugerenciasList{
        max-width: 640px;
        margin-left: 12rem;
        font-weight: bolder;
        color: darkslategrey;
    }
    .sugerenciasList span{
        font-size: large;
    }
    .pagination-display{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pagination-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-weight: 500;
      font-size: large;
      color: #525252;
      margin-top: 2.8rem;
    }
    .pagination-button:focus {
      outline: none;
    }
    #nextPage{
        visibility: hidden;
    }
    #prevPage{
        visibility: hidden;
    }
    #prevPage,#nextPage{
        margin-top: 3.1rem;
        font-size: smaller;
    }
    @media screen and (min-width: 281px) and (max-width: 375px) {
        #main{
            display: flex;
            flex-direction: column;
            margin-top:10vh;
            }
            #headerstyles{
            display: flex;
            flex-direction: column;            
            align-items: start;
            width: 45vh;
            height: fit-content;
        }
            
            #logo{position: relative;
            display: flex;
            width: 130px;
            margin: auto;
            margin-left: 15%;
            }
            #inputContent{
                position: relative; 
                width: none;
                height: none;
            }
            input{
            width: 83%;
            margin-left: 0;
            margin-top: 1.5rem;
            }
            #txtSearch{
                height: 2rem;
            }
            #searchIcon{
                top:26vh;
                left:89%;
                transform: scale(1.2);
                }
    }
   @media screen and (min-width: 200px) and (max-width: 280px) {
        #main{
            display: flex;
            flex-direction: column;
            margin-top:10vh;
            }
            #headerstyles{
            display: flex;
            flex-direction: column;            
            align-items: start;
            width: 45vh;
            height: fit-content;
        }
            
            #logo{position: relative;
            display: flex;
            width: 130px;
            margin: auto;
            margin-left: 15%;
            }
            #inputContent{
                position: relative; 
                width: none;
                height: none;
            }
            input{
            width: 83%;
            margin-left: 0;
            margin-top: 1.5rem;
            }
            #txtSearch{
                height: 2rem;
            }
            #searchIcon{
                top:26vh;
                left:89%;
                transform: scale(1.2);
                }
        }
